body{
    background-color: #fdfdfd;
}


.ct{
    display: flex;
    justify-content: center;
}

.box{
    width: auto;
    height: auto;
}

/* special */

.delet_btn{
    border: #676565 solid 0px;
    border-radius: 4px;
    height: 32px;
    width: 56px;
    background-color: #fb2e2e;
    font-weight: 530;
    font-size: 14px;
    color: rgb(237, 237, 237);
    font-weight: 420;
    font-size: 14.4px;
}

.delet_btn_container{
    width: auto;
    height: 100%;
    justify-content: flex-end;
    margin-right: 3px;
    display: flex;
}

.cet{
    font-size: 16px;
    line-height: 16px;
}

/* end special */

/* 帳號更改  開始 */

.wd{
    margin-bottom: 4px;
}

.data{
    margin-left: 3px;
}

.inner{
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    
}

.ins_box{
    width: 550px;
    height: auto;
    border: 1.7px solid #aeaeae;
    border-radius: 9.5px;
    background-color: #ffffff;
    padding: 18px;
    display: flex;
    flex-wrap: wrap;
}

.b1{
    margin: 30px;
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
}

.title{
    color: #4e4e4e;
    padding-left: 5px;
    margin-bottom: 3px;
    font-size: 32px;
    font-family: 'IBM Plex Sans',sans-serif;
}

.account_title{
    padding: 1px;
}

h4{
    margin: 0px;
    color: #676565;
}

.pdi{
    margin-right: 5px;
}

.reset_pwd_btn{
    border: #676565 solid 0px;
    border-radius: 4px;
    height: 32px;
    width: 56px;
    background-color: #efefef;
    font-weight: 530;
    font-size: 14px;
    color: #444;
    font-weight: 420;
    font-size: 14.4px;
}

.password_name{
    height: auto;
}

.acname{
    width: 265px;
    height: 30px;
    padding: 2px;
    border-radius: 4px;
    border: #676565 solid 0.6px;
    font-size: 17px;
}

.bct{
    margin-left: 2px;
    display: flex;
    align-items: center;
}

.select{
    display: flex;
    justify-content: flex-end;
    margin-right: 3px;
    flex: auto;
    width: auto;
}

.selector, .selector>option{
    outline: 0;
    border: 0;
    font-size: 15px;
    font-weight: 524;
}

/* move */

@media (max-width: 615px){
    .ins_box{
        width: 355px;
    }
    .pwd_old{
        margin-right: 22px;
    }
}