

.select{
    flex: none;
    font-size: 14px;
    text-align: center;
    text-justify: center;
}

.ms1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.fvv{
    text-align: start;
}

.res2{
    display: none;
}