table, tr, td, th{
    border: 1px solid #000000;
}
tr, td{
    height: 24px;
}
.cpname{
    height: 36px;
    width: auto;
    background-color: #ebffbc;
}
table{
    border-radius: 2px;
    width: 600px;
}
.each_table{
    width: 600px;
    margin: 2px;
}
.form_container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.updateing_each{
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: #d7ffd7;
    color: #2c2c2c;
    border: 0px;
    text-align: center;
    padding: 0;
}
.remove_each{
    margin-right: 0;
    margin-left: 14px;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: #ffd7d7;
    color: #2c2c2c;
    border: 0px;
    text-align: center;
    padding: 0;
    font-size: 14px;
    line-height: 34px;
    font-weight: 200;
}
.flexBoxer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.static{
    background-color: #d3e2ff;
}
.title{
    width: 120px;
}
.function_form{
    width: 120px;
    height: 35px;
}
.table_in{
    width: 120px;
}
.inlineText{
    width: 97%;
    height: 97%;
    background-color: #ffffff00;
    border: 0px #ffffff00 solid;
    border-radius: 0px;
    font-size: medium;
}
.loading_boxo{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.loading_boxo>.loading{
    width: 70px;
    height: 70px;
    user-select: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.toTop{
    height: 35px;
    width: 35px;
    position: fixed;
    right: 15px;
    bottom: 20px;
    background-color: #bebebe50;
    border-radius: 17.5px;
}
#creater{
    height: auto;
    width: auto;
    margin-top: 12%;
    background-color: #ffffff;
}
#creater_osd{
    width: 100%;
    height: 100%;
    top: 50px;
    position: fixed;
}

.add_data{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 40px;
    height: 40px;
    border-radius: 18px;
    background-color: #70e77063;
    bottom: 5px;
    left: 4px;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.add_data>img{
    width: 36px;
    height: 36px;
}
.select_type{
    margin-right: 8px;
    height: 20px;
}
#creater_background{
    background-color: #a2a2a2c3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    top: 50px;
}
#creater_updating{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}