<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta name="viewport" content="width-device-width, initial-scale=1.0"/>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='base/data_base.js')}}"></script>
<link rel="icon" type="image/png" href="{{url_for('static', filename='favicon.ico')}}"/>
<link rel="stylesheet" href="{{url_for('static', filename='base/base_style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='base/mode_check.css')}}">
<title>{%block title%}{%endblock%}</title>
<script>  

</script>
<div class="top_bar">
  <div class="tf">
     <h1 onclick="window.location.href='/'" class="tit"><span style="color: #FFFFFF;">Aqri</span><span style="color: #c6610f;">ee</span></h1>
  </div>
  <div class="close" id="more_info">
    <svg height="25" width="25" role="img" aria-label="Ellipsis Icon" viewBox="0 0 16 16">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M2.75 6C3.7165 6 4.5 6.7835 4.5 7.75C4.5 8.7165 3.7165 9.5 2.75 9.5C1.7835 9.5 1 8.7165 1 7.75C1 6.7835 1.7835 6 2.75 6ZM7.75 6C8.7165 6 9.5 6.7835 9.5 7.75C9.5 8.7165 8.7165 9.5 7.75 9.5C6.7835 9.5 6 8.7165 6 7.75C6 6.7835 6.7835 6 7.75 6ZM14.5 7.75C14.5 6.7835 13.7165 6 12.75 6C11.7835 6 11 6.7835 11 7.75C11 8.7165 11.7835 9.5 12.75 9.5C13.7165 9.5 14.5 8.7165 14.5 7.75Z" fill="white"></path>
    </svg>
  </div>
  <div class="top_href">
      <button class="top_bar_btn onmouse_c4" onclick="window.location.href='/'">首頁</button>
  </div>
  <div class="top_href">
      <button class="top_bar_btn onmouse_c1" onclick="window.location.href='/dis_new'">股票一覽</button>
  </div>
  <div class="top_href">
      <button class="top_bar_btn onmouse_c2" onclick="window.location.href='/main'">更正及增加資料</button>
  </div>
  <div  class="top_href">
      <button class="top_bar_btn onmouse_c3" onclick="window.location.href='/delet'">刪除資料</button>
  </div>
  <div class="select">
    {%block spr%}{%endblock%}
  </div>
  <div class="login_div"> 
    <div class="login_ins">
      {%block login%}{%endblock%}
    </div>
  </div>
</div>
{%block head%}{%endblock%}
</head>
<body>

<div class="top_place_eat">
  <div class="click_pop" id="cli">
    <div class="pop_title onmouse_c4" onclick="window.location.href='/'">首頁</div>
    <div class="pop_title onmouse_c1" onclick="window.location.href='/dis_new'">股票一覽</div>
    <div class="pop_title onmouse_c2" onclick="window.location.href='/main'">更正增加</div>
    <div class="pop_title onmouse_c3" onclick="window.location.href='/delet'" style="border: 0px;">刪除資料</div>
  </div>
</div>
<!--including scricp and style tag inside-->
{%block main%}{%endblock%}
</body>
</html>