{%extends "base.html"%}

{%block login%}

{%endblock%}

{%block main%}
<script src="{{url_for('static', filename='del/main.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='del/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='del/move.css')}}">
<script>
    
</script>
<form action="/del" method="POST" onsubmit="return sub()">
    <h4>刪除公司中的某年分</h4>
    刪除公司之名稱<br>
    <input name="company" placeholder="公司名稱" id="a"><br/>
    刪除資料年分<br/>
    <input name="year" placeholder="年分" id="b"><br/>
    
    <input type="submit"><input name="company_del" style="display: none;" type="text">
    
</form>
    <form action="/del" method="POST" onsubmit="return checkr();">
    <h4>刪除整個公司的資料</h4>
    刪除公司之名稱<br/>
    <input type="text" name="company_del" placeholder="公司名稱" id="getc"><br/>
    <input type="submit">
</form>
{%endblock%}