{%extends "base.html"%}

{%block title%}資料一覽{%endblock%}

{%block login%}
{%endblock%}

{%block spr%}
<button class="change_display" id="change_display">展開</button>
{%endblock%}

{%block head%}
<script>
class ScriptPart extends React.Component{
    render(){

    }
}

class StylePart extends React.Component{
    render(){
        
    }
}

class DivList extends React.Component{
    constructor(props){
        super(props);
    }
    render(){

    }
}
window.onload=function(){
    $SCRIPT_ROOT={{ request.script_root|tojson|safe }};
    $.ajax({
        type: "GET",
        url: $SCRIPT_ROOT+"/dis_ajx",
        contentType: false,
        processData: false,
        data: "",
        success: (datas)=>{
            alert(datas);
        }
    })
}

function as(){
    $SCRIPT_ROOT={{ request.script_root|tojson|safe }};
    $.ajax({
        type: "GET",
        url: $SCRIPT_ROOT+"/dis_ajx",
        contentType: false,
        processData: false,
        data: "",
        success: (datas)=>{
            let tex=React.createElement("h1", null, datas[0]["company"]);
            return ReactDOM.render(tex, document.body);
        }
    })
}
</script>

{%endblock%}

{%block main%}
<button onclick="as()"></button>
<ddds></ddds>
{%endblock%}