{%extends "base.html"%}

{%block title%}資料一覽{%endblock%}

{%block login%}
<button class="login_btn onmouse_c5" onclick="{{data.click}}">{{data.user}}</button>
{%endblock%}

{%block spr%}
<button class="change_display" id="change_display">展開</button>
{%endblock%}

{%block main%}
<script>
$(document).ready(function(){
    var Today=new Date();
  date=Today.getFullYear()
  //{%for i in range(5)%}
  $(".onmouse_c{{i}}").mouseover(function(){
    $(".onmouse_c{{i}}").css("color", "rgb(214, 143, 10)")
  })
  $(".onmouse_c{{i}}").mouseout(function(){
    $(".onmouse_c{{i}}").css("color", "white")
  })
  //{%endfor%}
  $(".onmouse_c5").mouseover(function(){
    $(".onmouse_c5").css("color", "gray")
  })
  $(".onmouse_c5").mouseout(function(){
    $(".onmouse_c5").css("color", "white")
  })
  //{%for i in data%}
  $(".{{i['company']}}").css("display", "none");
  $(".{{i['company']}}_click").click(function(){
    if ($(".{{i['company']}}_cfm").is(":hidden")){
      $(".{{i['company']}}").show(10);
      // alert($(".{{i['company']}}_fa").value)
      // if (parseInt($("#{{i['company']}}_fa").value) < parseInt(date)-1){
        //  $(".{{i['company']}}_{{f}}_s").hide();
      //   alert("dj")
      // }
    }
    else{
      $(".{{i['company']}}").hide(10);
    }
  })
  //{%endfor%}

  var clickt=0;
  $("#change_display").click(function(){
    switch (clickt){
      case 0:
        $(".display_c").css("display", "");
        $(".display_y").css("display", "none");
        clickt+=1;
        break;
      case 1:
        $(".display_y").css("display", "");
        clickt+=1;
        window.document.getElementById("change_display").innerHTML="收起";
        break;
      case 2:
        $(".display_c").css("display", "none");
        $(".display_y").css("display", "none");
        clickt=0;
        window.document.getElementById("change_display").innerHTML="展開";
        break;
      default:
        alert("error!");
    }




    // if ($(".display_c").is(":hidden")){
    //   $(".display_c").css("display", "");
    // }
    // else{
    //   if ($(".display_y").is(":hidden")){
    //     $(".display_y").css("display", "");
    //   }
    //   else{
    //     $(".display_y").css("display", "none");
    //   }
    // }
  })
})

    
</script>
<script src="{{url_for('static', filename='display/main.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='display/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='display/move.css')}}">

<div class="one_box">
<form action="/rev" method="POST">
    <input type="submit" value="更新(enter)"> <!--?????????????????????-->
    <input type="text" id="date" style="display: none;" name="up_dt">
  <div class="bbcws">
  {%for i in data%}
  <div class="svf">
      <table>
          <tr class="{{i['company']}}_click" id="display_c_click">
            <th colspan="6" style="background-color: darkkhaki;">{{i["company"]}} ({{i["date"]}})</th>
          </tr>
          <tr class="{{i['company']}} display_c" style="background-color: aquamarine;">
            <td class="title" style="width: 120px;">season/year</td>
            <td class="title" style="width: 120px;">EPS</td>
            <td class="title" style="width: 120px;">配息</td>
            <td class="title" style="width: 120px;">配息率</td>
            <td class="title" style="width: 120px;">殖利率</td>
          </tr>
          
      {%for f in i%}
          {%if f != "_id" and f != "company" and f != "date" and f != "guess" and f != "share" and f != "yield_now" and f != "aim"  and f != "l_aim" and f != "l_add" and f != "r_add" and f != "simp"%}
              {%if i[f]["simp"]==1%}
              <tr class="{{i['company']}}  display_c" style="background-color: rgb(195, 236, 154);">
                <td class="col_u_d {{i['company']}}_fa"  style="font-weight: bold;">{{f}}</td>
                <td>{{i[f]['EPS_year']}}</td>
                <td><input type="text" class="form_inside_text" name="{{i['company']}}_{{f}}_dividend" value="{{i[f]['dividend']}}"></td>
                <td>{{i[f]["dividend_rate"]}}%</td>
                <td>{{i[f]["yield"]}}%</td>
              </tr>
              {%else%}
              <script>
                $(document).ready(function(){
                  $(".{{i['company']}}_click").click(function(){
                    $(".{{i['company']}}_{{f}}_s").hide(1);
                  });
                  $(".{{i['company']}}_{{f}}_n").click(function(){
                    $(".{{i['company']}}_{{f}}_s").toggle(1);
                  })
                })
              </script>
          <tr class="{{i['company']}} display_c" style="background-color: rgb(195, 236, 154);">
            <td class="col_u_d {{i['company']}}_{{f}}_n {{i['company']}}_fa" style="font-weight: bold;">{{f}}</td>
            <td>{{i[f]['EPS_year']}}</td>
            <td><input type="text" class="form_inside_text" name="{{i['company']}}_{{f}}_dividend" value="{{i[f]['dividend']}}"></td>
            <td>{{i[f]["dividend_rate"]}}%</td>
            <td>{{i[f]["yield"]}}%</td>
          </tr>
              {%if i[f]["EPS_Q1"] != ""%}
                <tr class="{{i['company']}} {{i['company']}}_{{f}}_s display_y display_c">
                  <td class="col_u" style="font-weight: bold;">Q1</td>
                  <td class="eps_season"><input type="text" class="form_inside_text_eps_Q" name="{{i['company']}}_{{f}}_Q_1" value="{{i[f]['EPS_Q1']}}"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="{{i['company']}} {{i['company']}}_{{f}}_s display_y display_c">
                  <td class="col_u" style="font-weight: bold;">Q2</td>
                  <td class="eps_season"><input type="text" class="form_inside_text_eps_Q" name="{{i['company']}}_{{f}}_Q_2" value="{{i[f]['EPS_Q2']}}"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="{{i['company']}} {{i['company']}}_{{f}}_s display_y display_c">
                  <td class="col_u" style="font-weight: bold;">Q3</td>
                  <td class="eps_season"><input type="text" class="form_inside_text_eps_Q" name="{{i['company']}}_{{f}}_Q_3" value="{{i[f]['EPS_Q3']}}"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="{{i['company']}} {{i['company']}}_{{f}}_s display_y display_c">
                  <td class="col_u" style="font-weight: bold;">Q4</td>
                  <td class="eps_season"><input type="text" class="form_inside_text_eps_Q" name="{{i['company']}}_{{f}}_Q_4" value="{{i[f]['EPS_Q4']}}"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              {%else%}
                <tr class="{{i['company']}} {{i['company']}}_{{f}}_s display_y display_c"> 
                  <td class="col_u" style="font-weight: bold;">Q1</td>
                  <td class="eps_season">{{i[f]["EPS_Q1"]}}</td>
                  <td class="eps_m"><input type="text" class="form_inside_text_eps_m" name="{{i['company']}}_{{f}}_m_1" value="{{i[f]['EPS_m_1']}}"></td>
                  <td class="eps_m"><input type="text" class="form_inside_text_eps_m" name="{{i['company']}}_{{f}}_m_2" value="{{i[f]['EPS_m_2']}}"></td>
                  <td class="eps_m"><input type="text" class="form_inside_text_eps_m" name="{{i['company']}}_{{f}}_m_3" value="{{i[f]['EPS_m_3']}}"></td>
                </tr>
                <tr class="{{i['company']}} {{i['company']}}_{{f}}_s display_y display_c">
                  <td class="col_u" style="font-weight: bold;">Q2</td>
                  <td class="eps_season">{{i[f]["EPS_Q2"]}}</td>
                  <td class="eps_m"><input type="text" class="form_inside_text_eps_m" name="{{i['company']}}_{{f}}_m_4" value="{{i[f]['EPS_m_4']}}"></td>
                  <td class="eps_m"><input type="text" class="form_inside_text_eps_m" name="{{i['company']}}_{{f}}_m_5" value="{{i[f]['EPS_m_5']}}"></td>
                  <td class="eps_m"><input type="text" class="form_inside_text_eps_m" name="{{i['company']}}_{{f}}_m_6" value="{{i[f]['EPS_m_6']}}"></td>
                </tr>
                <tr class="{{i['company']}} {{i['company']}}_{{f}}_s display_y display_c">
                  <td class="col_u" style="font-weight: bold;">Q3</td>
                  <td class="eps_season">{{i[f]["EPS_Q3"]}}</td>
                  <td class="eps_m"><input type="text" class="form_inside_text_eps_m" name="{{i['company']}}_{{f}}_m_7" value="{{i[f]['EPS_m_7']}}"></td>
                  <td class="eps_m"><input type="text" class="form_inside_text_eps_m" name="{{i['company']}}_{{f}}_m_8" value="{{i[f]['EPS_m_8']}}"></td>
                  <td class="eps_m"><input type="text" class="form_inside_text_eps_m" name="{{i['company']}}_{{f}}_m_9" value="{{i[f]['EPS_m_9']}}"></td>
                </tr>
                <tr class="{{i['company']}} {{i['company']}}_{{f}}_s display_y display_c">
                  <td class="col_u" style="font-weight: bold;">Q4</td>
                  <td class="eps_season">{{i[f]["EPS_Q4"]}}</td>
                  <td class="eps_m"><input type="text" class="form_inside_text_eps_m" name="{{i['company']}}_{{f}}_m_10" value="{{i[f]['EPS_m_10']}}"></td>
                  <td class="eps_m"><input type="text" class="form_inside_text_eps_m" name="{{i['company']}}_{{f}}_m_11" value="{{i[f]['EPS_m_11']}}"></td>
                  <td class="eps_m"><input type="text" class="form_inside_text_eps_m" name="{{i['company']}}_{{f}}_m_12" value="{{i[f]['EPS_m_12']}}"></td>
                </tr>
              {%endif%}
            {%endif%}
          {%endif%}
      {%endfor%}
      <tr class="{{i['company']}} {{i['company']}}_cfm display_c">
          <td>目標價</td>
          <td>{{i["l_aim"]}}</td>
          <td></td>
          <td></td>
          <td><input type="text" style="width: 75%;" name="{{i['company']}}_aim" value="{{i['aim']}}"><span style="width: 15%;">%</span></td>
      </tr>
      <tr class="{{i['company']}} display_c">
          <td>利差(%)</td>
          <td>{{i["l_add"]}}</td>
          <td></td>
          <td></td>
          <td>{{i["r_add"]}}%</td>
      </tr>
      <tr class="{{i['company']}} display_c">
          <td>買進價</td>
          <td><input type="text" class="form_inside_text"></td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td style="width: 120px;">目前價位</td>
          <td style="width: 120px;"><input type="text" class="form_inside_text" name="{{i['company']}}_share" value="{{i['share']}}"></td>
          <td style="width: 120px;"></td>
          <td style="width: 120px;">目前殖利率</td>
          <td style="width: 120px;">{{i["yield_now"]}}%</td>
      </tr>
      <tr class="{{i['company']}} display_c">
          <td>便宜價</td>
          <td colspan="4">暫留位</td>
          <!-- <td></td>
          <td></td>
          <td></td> -->
      </tr>
  </table>
</div>
  {%endfor%}
  </form>
</div>
</div>
{%endblock%}