{%extends "base.html"%}

{%block title%}AFNCO-首頁{%endblock%}

{%block login%}
<button class="login_btn onmouse_c5" onclick="{{userdata.click}}">{{userdata.user}}</button>
{%endblock%}

{%block main%}
<style>
.game{
    width: 130px;
    height: 130px;
    margin: 0px;
    bottom: 30px;
    position: absolute;

}
</style>
<script src="{{url_for('static', filename='index/main.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='index/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='index/move.css')}}">
<div class="boxer">
    <div class="nav">
        <div class="pot">
        <h3><strong>導覽</strong></h3>
            <div class="nav_in">供測試帳號密碼</div>
            <div class="nav_in">更新資訊</div>
            <div class="nav_in" onclick="window.location.href='/little_game_1_had'">遊戲</div>
        </div>
    <div class="game" id="game_part">
    </div>
    </div>
    <div class="nava"></div>
    <div class="indc_outer_box">
        <div class="inner_word_al">
            <h2>供測試帳號密碼</h2>
            <li>帳號1：afnco</li>
            密碼：aaaaaaaa<br><br>
        </div>
        <div class="inner_word_al">
            <h2>更新內容v23</h2>
            <li>前端畫面優化</li>
            <li>使不同寬度的裝置也能順暢使用</li>
            <li>切換螢幕大小使避免爆版</li>
            <li>增加安全性</li>
            <li>更改增加資料頁面的切換方式</li>
            <li>超連結錯誤除錯</li>
            <li>手機模式選單動畫</li>
        </div>
        <div class="inner_word_al">
            <h2>更新內容v24</h2>
            <li>前端畫面優化</li>
            <li>alert畫面優化(SweetAlert2)</li>
            <li>登入或更新後不跳轉至其他路由</li>
        </div>
        <div class="inner_word_al">
            <h2>更新內容v25</h2>
            <li>改使用依序載入資料</li>
            <li>可使用區塊式更新</li>
            <li>GUI</li>
        </div>
    </div>
</div>
{%endblock%}