{%extends "base.html"%}

{%block login%}
<button class="login_btn onmouse_c5" onclick="{{userdata.click}}">{{userdata.user}}</button>
{%endblock%}

{%block main%}
<script src="{{url_for('static', filename='index/main.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='index/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='index/move.css')}}">
<div class="boxer">
    <div class="nav">
        <div class="pot">
        <h3><strong>導覽</strong></h3>
            <div class="nav_in">供測試帳號密碼</div>
            <div class="nav_in">更新資訊</div>
            <div class="nav_in"></div>
        </div>
    </div>
    <div class="nava"></div>
    <div class="indc_outer_box">
        <div class="inner_word_al">
            <h2>供測試帳號密碼</h2>
            <li>帳號1：afnco</li>
            密碼：aaaaaaaa<br><br>
            <li>帳號2：aa</li>
            密碼：aaaaaaaa<br>
        </div>
        <div class="inner_word_al">
            <h2>更新內容 (ver23.1.1)</h2>
            <li>前端畫面升級</li>
            <li>使不同寬度的裝置也能順暢使用</li>
            <li>切換螢幕大小使避免爆版</li>
            <li>密碼加密</li>
            <li>更改增加資料頁面的切換方式</li>
            <li>超連結錯誤除錯</li>
            <li>alert畫面優化</li>
            <li>登入或更新後不跳轉至其他路由(Ajax)</li>
            <li>手機模式選單動畫</li>
        </div>
    </div>
</div>
{%endblock%}