{%extends "base.html"%}

{%block title%}資加資料{%endblock%}

{%block login%}
<button class="login_btn onmouse_c5" onclick="{{userdata.click}}">{{userdata.user}}</button>
{%endblock%}

{%block spr%}
<div class="ms">
    <select class="select" id="fcv">
        <option class="fvv cg1" value="1">季報</option>
        <option class="fvv cg2" value="2">月報</option>
    </select>
</div>
{%endblock%}

{%block head%}
<script>
</script>
{%endblock%}

{%block main%}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{url_for('static', filename='main/main.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='main/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='main/move.css')}}">
<div class="sele">
    <div class="ms1">
        <form method="POST" id="form-z" class="form res1" action="/res" name="form">
            股票(公司)名稱<br/>
            <input type="text" id="company" placeholder="股票(公司)名稱" name="company" required><br/>
            
            <input type="text" class="qe" placeholder="EPS Q1" name="EPS_1" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            <input type="text" class="qe" placeholder="EPS Q2" name="EPS_2" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            <input type="text" class="qe" placeholder="EPS Q3" name="EPS_3" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            <input type="text" class="qe" placeholder="EPS Q4" name="EPS_4" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            <!-- 不可刪除 -->
            <input type="text" class="mon" placeholder="1月" name="m_1" style="display: none;" autocomplete="off">
            <input type="text" class="mon" placeholder="2月" name="m_2" style="display: none;" autocomplete="off">
            <input type="text" class="mon" placeholder="3月" name="m_3" style="display: none;" autocomplete="off">
            <input type="text" class="mon" placeholder="4月" name="m_4" style="display: none;" autocomplete="off">
            <input type="text" class="mon" placeholder="5月" name="m_5" style="display: none;" autocomplete="off">
            <input type="text" class="mon" placeholder="6月" name="m_6" style="display: none;" autocomplete="off">
            <input type="text" class="mon" placeholder="7月" name="m_7" style="display: none;" autocomplete="off">
            <input type="text" class="mon" placeholder="8月" name="m_8" style="display: none;" autocomplete="off">
            <input type="text" class="mon" placeholder="9月" name="m_9" style="display: none;" autocomplete="off">
            <input type="text" class="mon" placeholder="10月" name="m_10" style="display: none;" autocomplete="off">
            <input type="text" class="mon" placeholder="11月" name="m_11" style="display: none;" autocomplete="off">
            <input type="text" class="mon" placeholder="12月" name="m_12" style="display: none;" autocomplete="off">

            配息率<br/>
            <input type="text" id="dividend_rate" placeholder="配息率" name="dividend_rate" autocomplete="off" required pattern="[0-9]{0-3}">%<br/>
            股價<br/>
            <input type="text" id="share" placeholder="股價" name="share" autocomplete="off" required pattern="[0-9]{0-999999999999}"><br/>
            年分<br/>
            <input type="text" id="year" name="year" placeholder="年分" autocomplete="off" required pattern="[0-9]{4}"><br/>
            <input type="text" id="date" name="date" style="display: none;"><br/>
            <input type="submit" id="submit" class="form-submit" value="submit" >
        </form>


        
        <form method="POST" id="form" class="form res2" action="/res" name="form">
            股票(公司)名稱<br/>
            <input type="text" id="company" placeholder="股票(公司)名稱" name="company" required><br/>
            <input type="text" class="qe" placeholder="EPS Q1" name="EPS_1" style="display: none;" autocomplete="off">
            <input type="text" class="qe" placeholder="EPS Q2" name="EPS_2" style="display: none;" autocomplete="off">
            <input type="text" class="qe" placeholder="EPS Q3" name="EPS_3" style="display: none;" autocomplete="off">
            <input type="text" class="qe" placeholder="EPS Q4" name="EPS_4" style="display: none;" autocomplete="off">
            <input type="text" class="mon" placeholder="1月" name="m_1" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            <input type="text" class="mon" placeholder="2月" name="m_2" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            <input type="text" class="mon" placeholder="3月" name="m_3" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            <input type="text" class="mon" placeholder="4月" name="m_4" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            <input type="text" class="mon" placeholder="5月" name="m_5" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            <input type="text" class="mon" placeholder="6月" name="m_6" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            <input type="text" class="mon" placeholder="7月" name="m_7" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            <input type="text" class="mon" placeholder="8月" name="m_8" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            <input type="text" class="mon" placeholder="9月" name="m_9" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            <input type="text" class="mon" placeholder="10月" name="m_10" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            <input type="text" class="mon" placeholder="11月" name="m_11" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            <input type="text" class="mon" placeholder="12月" name="m_12" style="display: block;" autocomplete="off" required pattern="[0-9]{0-3}">
            配息率<br/>
            <input type="text" id="dividend_rate" placeholder="配息率" name="dividend_rate" autocomplete="off" required pattern="[0-9]{0-3}">%<br/>
            股價<br/>
            <input type="text" id="share" placeholder="股價" name="share" autocomplete="off" required pattern="[0-9]{0-999999999999}"><br/>
            年分<br/>
            <input type="text" id="year1" name="year" placeholder="年分" autocomplete="off" required pattern="[0-9]{4}"><br/>
            <input type="text" id="date1" name="date" style="display: none;"><br/>
            <input type="submit" id="submit" class="form-submit" value="submit" >
        </form>
    </div>
</div>
{%endblock%}