{%extends "base.html"%}

{%block login%}
<button class="login_btn onmouse_c5" onclick="window.location.href='/login'">登入</button>
{%endblock%}

{%block main%}
<script src="{{url_for('static', filename='signin/scricp.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='signin/style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='signin/move.css')}}">
<div class="inner_box">
    <div class="login_p">
        <form action="/signin" method="POST" onsubmit="return ncp()" class="form">
            <div class="icon_div">
                <img src="{{url_for('static', filename='favicon.ico')}}" class="icon_i" onclick="window.location.href='/'"><br/>
            </div>
            <div><h2>登入</h2></div>
            <div class="data_part">
                <input type="text" placeholder="帳號" class="ins" id="account" name="account" autocomplete="off" required  pattern="[0-9a-zA-Z]{4,40}"><br/>
                <input type="password" placeholder="密碼" class="ins" id="pwd" name="pwd" autocomplete="off" required pattern="{8,9999}"><br/>
                <input type="submit" class="send" value="登入">
                <div><span style="color: rgb(122, 122, 122);">沒有帳號?<span style="color: #3885e9;" onclick="window.location.href='/assign'"><u>註冊</u></span></div>
            </div>
        </form>
    </div>
</div>
{%endblock%}