.nav{
    background-color: rgb(233, 233, 233);
    height: 90%;
    width: 130px;
    position: fixed;
    text-align: center;
    margin-top: 8px;
}

.nava{
    background-color: rgba(255, 255, 255, 0);
    height: 90%;
    width: 130px;
    text-align: center;
    margin-top: 8px;
    flex: none;
}

.onmouse_c4{
    background-color: #1d3a61;
}

.boxer{
    display: flex;
    width: 100%;
    height: auto;
}

.indc_outer_box{
    background-color: rgb(207, 247, 238);
    background-image: none;
    flex: auto;
    margin: 8px;
    height: auto;

}

.pot{
    left: 5%;

}

.inner_word_al{
    text-align: justify;
    margin: 8px;
}

.nav_in{
    margin: 3px;
}