.nav{
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 80px;
    position: fixed;
    text-align: center;
    margin-top: 1px;
    border-right: 1px #fafafa solid;
}

.boxer{
    display: flex;
    width: 100%;
    height: auto;
}

.indc_outer_box{
    background-color: rgb(242, 242, 242);
    background-image: none;
    flex: auto;
    height: auto;
    margin-left: 79.5px;
    /* background-image: url("/index/inxP.jpg");
    background-repeat: no-repeat; */
}

.pot{
    left: 5%;

}

.inner_word_al{
    text-align: justify;
    margin: 8px;
}

.nav_in{
    margin: 3px;
}